numpydoc>=0.9.1
numpy>=1.17.0
astropy>=4.0.0
scipy>=1.3.1
matplotlib>=3.3.0
sphinx>=2.0
lmfit>=1.0
sphinx-automodapi==0.12
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
