numpydoc>=0.9.1
sphinx>=4.1
sphinx-automodapi>=0.12
sphinxcontrib-applehelp>=1.0.1
sphinxcontrib-devhelp>=1.0.1
sphinxcontrib-htmlhelp>=1.0.2
sphinxcontrib-jsmath>=1.0.1
sphinxcontrib-qthelp>=1.0.2
sphinxcontrib-serializinghtml>=1.1.5
sphinxcontrib-websupport>=1.1.2
